<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="CargoNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.sourcepit.cargo4e.CargoNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IProject"
            class="org.sourcepit.cargo4e.CargoAdapterFactory">
         <adapter
               type="org.sourcepit.cargo4e.ICargoProject">
         </adapter>
      </factory>
   </extension>

</plugin>
