<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.sourcepit.cargo4e.ui.RustWizardsId"
            name="Rust">
      </category>
      <wizard
            category="org.sourcepit.cargo4e.ui.RustWizardsId"
            class="org.sourcepit.cargo4e.ui.wizards.NewRustProjectWizard"
            icon="icons/rust.png"
            id="org.sourcepit.cargo4e.ui.wizards.NewRustProjectWizard"
            name="Rust Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/rust_overlay.gif"
            id="org.sourcepit.cargo4e.ui.CargoNatureOverlay"
            natureId="org.sourcepit.cargo4e.CargoNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.sourcepit.cargo4e.ui.CargoUiStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.sourcepit.cargo4e.ui.RustNavigatorContentProvider"
            icon="icons/rust.png"
            id="org.sourcepit.cargo4e.ui.navigatorContent"
            labelProvider="org.sourcepit.cargo4e.ui.RustNaviatorLabelProvider"
            name="Rust Elements"
            priority="normal">
         <enablement><or><adapt type="org.sourcepit.cargo4e.ICargoProject" >
					</adapt>
                     </or></enablement>
         <commonSorter
               class="org.sourcepit.cargo4e.ui.RustNavigatorViewerComparator">
            <parentExpression>
               <or>
                  <instanceof
                        value="org.sourcepit.cargo4e.model.ICrate">
                  </instanceof>
                  <instanceof
                        value="org.sourcepit.cargo4e.model.IRustFolder">
                  </instanceof>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="org.sourcepit.cargo4e.ui.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>

</plugin>
