<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.sourcepit.cargo4e.ui.RustViewsCategoryId"
            class="org.sourcepit.cargo4e.ui.CargoView"
            icon="icons/cargo.png"
            id="org.sourcepit.cargo4e.ui.CargoViewId"
            name="Cargo"
            restorable="true">
      </view>
      <category
            id="org.sourcepit.cargo4e.ui.RustViewsCategoryId"
            name="Rust">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.sourcepit.cargo4e.ui.RustWizardsId"
            name="Rust">
      </category>
      <wizard
            category="org.sourcepit.cargo4e.ui.RustWizardsId"
            class="org.sourcepit.cargo4e.ui.wizards.NewRustProjectWizard"
            icon="icons/rust.png"
            id="org.sourcepit.cargo4e.ui.wizards.NewRustProjectWizard"
            name="Rust Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/rust_overlay.gif"
            id="org.sourcepit.cargo4e.ui.CargoNatureOverlay"
            natureId="org.sourcepit.cargo4e.CargoNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.sourcepit.cargo4e.ui.CargoUiStartup">
      </startup>
   </extension>

</plugin>
